#root {
	color: rgb(222, 221, 218);
	background: rgb(53, 132, 228);
	font-family: sans-serif;
	margin: 0 auto;
}

html {
  color: rgb(222, 221, 218);
	background: rgb(53, 132, 228);
	font-family: sans-serif;
}

main {
	display: flex;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-evenly;
}

.post {
	list-style: none;
	padding: 1rem;
}

.post:hover {
	box-shadow: 2px 2px rgb(26, 95, 180);
	background: rgb(26, 95, 180);
}

.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
	cursor: pointer;
	flex-direction: row;
	bottom: 0;
	position: fixed;
}

.active {
	background-color: rgb(26, 95, 180);
	padding: 6px 6px;
	border-radius: 50%;
}

.page-item {
	list-style: none;
	padding: 3px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
	border-radius: 50%;
	height: 3%;
	width: 3%;
}

.container {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formsContainer{
	display: flex;
	gap:4rem;
	align-items: center;
	justify-content: center;
}

@media(max-width:768px){
	.formsContainer{
		flex-direction: column;
	}
}